# Uppgifter, Kapitel 2 - Datatyper

1. Addera de två talen nedan och spara resultaten i en variabel som heter my_result. Printa ut variabeln my_result.

In [11]:
num_1 = 5
num_2 = 3

In [12]:
my_result = num_1 + num_2
my_result

8

2. Multiplicera de två talen nedan och spara resultaten i en variabel som heter my_mult_result. Printa ut variabeln my_mult_result.

In [13]:
number_1 = 10
number_2 = 7

In [14]:
my_mult_result = number_1 * number_2
my_mult_result

70

3. Förklara vad nedanstående kod gör.

In [15]:
10 % 3

1

**Svar:** % kallas för modulo och returnerar rest från division.

4. Vi vet att 27/6 = 4.5. Förklara vad nedanstående kod gör.

In [16]:
27//6

4

**Svar:** // tar bort decimaltal från kvoten och returnerar den som ett heltal.

5. Vad är fel i nedanstående kod? Rätta till koden så det fungerar.

In [17]:
print('it's fun to learn Python!')

SyntaxError: unterminated string literal (detected at line 1) (3763140116.py, line 1)

**Svar:** En string skrivs mellan citattecken. Det kan vara enkla ' ' eller dubbla " ".\
Ovanstående kod använder ' ' för strings. Det blir därför fel när ' också används som en apostrof.

**Rättning:**

In [18]:
print("it's fun to learn Python!")
print('it\'s fun to learn Python')

it's fun to learn Python!
it's fun to learn Python

6. Vad gör nedanstående kod?

In [19]:
print("ha"*10)

hahahahahahahahahaha

**Svar:** Skriver ut strängen 10 gångner

7. Extrahera namnet "Anna" från strängen nedan genom att göra en "slice".

In [20]:
full_name = "Anna Andersson"

In [21]:
full_name[0:4]

'Anna'

8. Hur många tecken har strängen nedan? Använd len() funktionen.

In [22]:
full_name = "Anna Andersson"

In [23]:
len(full_name)

14

In [24]:
names = ["Anna Andersson-Johansson", "Erik Persson", "Johanna Eklund"]

In [25]:
for name in names:
    print(name.split()[0])

Anna
Erik
Johanna

9. a) Genom att använda en f-string med de två variablerna "founder" och "language", printa ut texten "Hello Guido, Python is really fun to learn!"
    
   b) Du vill nu skriva ut hela namnet "Guido van Rossum" så texten blir "Hello Guido van Rossum, Python is really fun to learn!", gör det genom att ändra namnet i variabeln founder och exekvera din f-string på nytt.

In [26]:
founder = "Guido"
language = "Python"

In [27]:
print(f'Hello {founder}, {language} is really fun to learn!')

Hello Guido, Python is really fun to learn!

In [28]:
founder = "Guido Van Rossum"

In [29]:
print(f'Hello {founder}, {language} is really fun to learn!')

Hello Guido Van Rossum, Python is really fun to learn!

10. Varför blir koden nedan fel?

In [30]:
my_first_tuple = (10, 5, 'hi', 3)

In [31]:
my_first_tuple[1] = 10

TypeError: 'tuple' object does not support item assignment

**Svar:** Koden försöker ändra ett element i en tuple, vilket inte är möjligt. Tuples är immutable: går ej att ändra efter att de blivit skapade.

In [32]:
my_list = list(my_first_tuple)

In [33]:
my_list[1] = 10

In [34]:
my_list

[10, 10, 'hi', 3]

11. Vad gör koden nedan?

In [35]:
my_tuple = ('languages', ['Python', 'Java', 'C', 'R'], 'apples')

In [36]:
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1][2])

languages
apples
C

**Svar:** printar tuple element.\
my_tuple[0] är elementet i index 0\
my_tuple[-1] är det sista elementet\
my_tuple[1][2] är elementet i index 1, eftersom det är en slags array är [2] elementet i arrayens index 2.

12. Kolla på vilken typ variabeln "my_tuple" har genom att använda type() funktionen.

In [37]:
my_tuple = ('languages', ['Python', 'Java', 'C', 'R'], 'apples')

In [38]:
type(my_tuple)

tuple

13. Vad gör koden nedan?

In [39]:
my_first_list = [10, 5, 'hi', 3]

In [40]:
my_first_list[1] = 7

In [41]:
my_first_list

[10, 7, 'hi', 3]

**Svar:**
1. Skapar en lista med 10, 5, 'hi' och 3 som element.
2. Ändrar elementet på index 1 till 7
3. Printar listan

14. Se vilken typ variabeln "my_first_list" har genom att använda type() funktionen.

In [42]:
my_first_list = [10, 5, 'hi', 3]

In [43]:
type(my_first_list)

list

15. Beräkna antalet element i variabeln "shopping_list" genom att använda len() funktionen.

In [44]:
shopping_list = ['apple', 'banana', 'grapes', 'eggs', 'milk']

In [45]:
len(shopping_list)

5

16. Vi glömde att lägga till bröd ("bread" på engelska) i vår shopping lista. Gör det genom att använda append() metoden och printa ut den nya shopping listan.

In [46]:
shopping_list = ['apple', 'banana', 'grapes', 'eggs', 'milk']

In [47]:
shopping_list.append('bread')
shopping_list

['apple', 'banana', 'grapes', 'eggs', 'milk', 'bread']

17. Beräkna antalet gånger siffran 7 finns i listan "my_numbers". Använd count() metoden.

In [48]:
my_numbers = [1, 7, 2, 7, 10, 7]

In [49]:
my_numbers.count(7)

3

18. Konvertera "one_tuple" till en lista och spara det i en variabel som heter "one_list".

In [50]:
one_tuple = (10, 5, 3)

In [51]:
one_list = list(one_tuple)
one_list

[10, 5, 3]

19. Vad gör nedanstående kod?

In [52]:
my_first_dict = {'Anna': 38, 'Goran': 19, 'Lennart': 59, 'Halimah': 28}

In [53]:
my_first_dict['Goran']

19

**Svar:** my_first_dict är en dictionary object. 
1. my_first_dict skapas med förnamn som 'nycklar' med ett tal/ålder kopplat till respektive.
2. Printar värdet som är kopplat till Goran nyckeln

20. Kolla på vilken typ variabeln "my_first_dict" har genom att använda type() funktionen.

In [54]:
type(my_first_dict)

dict

21. Varför printas element 5 endast ut en gång i koden nedan?

In [55]:
my_set = {10, 5, 2, 5, 5} 
print(my_set)

{10, 2, 5}

**Svar:** 5 printas endast ut en gång eftersom dubletter inte är tillåtna i set.

22. Vi har definierat de två mängderna A och B nedan. 

a) Hitta alla element som är i både A och B. Använd intersection() metoden. 

b) Hitta alla element som är i A och/eller B. Använd union() metoden. 

c) Hitta alla element som är i A men inte i B. Använd difference() metoden.

In [56]:
A = {1, 2, 3, 4, 5} 
B = {3, 10, 5, 7}

In [57]:
A.intersection(B)

{3, 5}

In [58]:
A.union(B)

{1, 2, 3, 4, 5, 7, 10}

In [59]:
A.difference(B)

{1, 2, 4}

In [60]:
B.difference(A)

{7, 10}

23. Vi har definierat det två listorna "list_a" och "list_b" nedan. Nedanstående uppgifter kan enkelt lösas genom att konvertera de definierade listorna till mängder först. 

a) Hitta alla element som är i både list_a och list_b.

b) Hitta alla element som är i list_a och/eller list_b.

In [61]:
list_a = [1, 2, 3, 4, 5]
list_b = [5, 6, 10, 21]

In [62]:
A = set(list_a)
B = set(list_b)

In [63]:
A.intersection(B)

{5}

In [64]:
A.union(B)

{1, 2, 3, 4, 5, 6, 10, 21}

24. Hitta alla unika element i variabeln "duplicate_values" genom att konvertera "tuplen" till en "set".

In [65]:
duplicate_values = (10, 2, 2, 10, 1)

In [66]:
set(duplicate_values)

{1, 2, 10}